<%- include('includes/header') %>

 <style>
  body{
    background-color: #ff4c68;
  }
</style>
<div data-purpose="copy-container" class="banner--copy-container--370ek banner--copy-container--constrained-width-desktop--_ghPj">
  <img alt="Promotional image" class="" src="https://i.udemycdn.com/notices/featured_banner/image/69fcf41e-1a2b-4c34-a429-1d178765ded2.jpg" width="100%">
  
  </div></div> 
<div class="container py-md-5 container--narrow">

  <%- include('includes/flash') %>
  <%- include('includes/profileShared') %>

  <div class="list-group">
    <% posts.forEach(function(post) { %>
      <a href="/post/<%= post._id %>" class="list-group-item list-group-item-action">
        <img class="avatar-tiny" src="<%= post.author.avatar %>">
        <strong><%= post.title %></strong> on <%= post.createdDate.getMonth() + 1 %>/<%= post.createdDate.getDate() %>/<%= post.createdDate.getFullYear() %>
      </a>
    <% }) %>
  </div>
</div>

<%- include('includes/footer') %>